.breadcrumb-item+.breadcrumb-item::before{
	content: ">";
}
.my_img_1{
	overflow: hidden;
}
.my_img_1>img{
	transition: 1s;
}
.my_img_1>img:hover{
	transform: scale(1.1);
}
.my_imgs{
	width: 20%;
}
.my_imgs:hover{
	border:1px solid #ddd;
	margin-left: 1px;
	margin-top: 1px;
}